{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
<div class="form-box">
<form class="form" action="login" method="post">
    {% csrf_token %}
    <span class="title">Log In</span>
    <div class="form-container">
      <input type="text" name="username" class="input" placeholder="User Name">
      <input type="password" name="password" class="input" placeholder="Enter the Password">
    </div>
    <button>Log In</button>
</form>
</div>
</body>
</html>