{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
<div class="form-box">
<form class="form" action="register" method="post">
    {% csrf_token %}
    <span class="title">Sign up</span>
    <div class="form-container">
      <input type="text" name="username" class="input" placeholder="User Name">
      <input type="text" name="first_name" class="input" placeholder="First Name">
      <input type="text" name="last_name" class="input" placeholder="Last Name">
      <input type="email" name="email" class="input" placeholder="Email">
      <input type="password" name="password" class="input" placeholder="Enter the Password">
      <input type="password" name="password1" class="input" placeholder="Confirm Password">
    </div>
    <button>Sign up</button>
</form>
</div>
</body>
</html>